<!-- <p>prova works! {{ title }}</p> -->
<div>
    <div class="testbuttons">
      <button mat-raised-button color="warn" [disabled]="isDisabled[0]" (click)="onClick(numeroBottone[0].id)" id="bottone1">{{ numeroBottone[0].nome }}</button>
      <button mat-raised-button color="warn" [disabled]="isDisabled[1]" (click)="onClick(numeroBottone[1].id)">{{ numeroBottone[1].nome }}</button>
      <label> {{ testoLabel }}</label>
    </div>
    <div class="testtext">
      <button mat-raised-button color="works">Esegui la funzione await</button>
    </div>
</div>
<div >
  <button mat-raised-button color="works" (click)="openDialog()">Cliccami</button>
</div>
